main {
    background-image: linear-gradient(to right, rgba(39, 38, 38, 0.329), rgba(167, 224, 238, 0.808));
    width: 100%;
}

.rows {
    width: 80%;
    margin: auto;
}

.tital {
    color: rgb(51, 43, 43);
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.row1 {
    width: 100%;
}

.row1 div {
    display: inline-block;
    width: 33%;
    padding: 4%;
    text-align: center;

}

.row2 {
    width: 100%;
}

.row2 div {
    display: inline-block;
    width: 33%;
    padding: 4%;
    text-align: center;
    padding-bottom: 150px;
}

.row2 div h1 {
    font-size: 35px;
}

.row1 div h1 {
    font-size: 35px;
}

footer {
    background-color: rgb(84, 95, 97);
    color: rgb(226, 162, 42);
    font-size: 38px;
    width: 100%;
}

footer div {
    width: 80%;
    margin: auto;
}

footer div h1 {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 30%;
    text-align: center;
}